.messageBox{
    padding: 1vmax;
    margin: 1.8vmax;
    border-radius: 0.5vmax;
    display: inline-block;
    clear: both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right{
    text-align: right;
    float: right;
    background-color: rgb(0, 145, 255);
    color: white;
}
.left{
    text-align: left;
    float: left;
    background-color: rgb(196,255,184);
}